@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --navHeight: 70px;
	--navFontSize: 18px;
	--btnFontFamily: 'Poppins', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(73, 7, 216);
	font-family: "Poppins", sans-serif;
	color: white;
}

.globalContainer {
	min-width: 1200px;
	margin: 0 auto;
}

nav.navbar {
	height: var(--navHeight);
	line-height: var(--navHeight);
	background-color: #333;
}
.navbar .localContainer {
	display: flex;
	flex-direction: row;
	width: 1700px;
	margin: 0 auto;
}

.navbarMobile {
	display: none;
}

.navbarMobile {
	height: var(--navHeight);
	line-height: var(--navHeight);
	background-color: #333;
}

.logo p, .navbarMobile .logo p {
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 4px #000;
}

.logo i, .navbarMobile .logo i {
	padding-right: 10px;
	line-height: var(--navHeight);
}

.logo, form , .signIn {
    display: flex;
    flex-direction: row;
}

.logo {
	flex-grow: 1;
	cursor: pointer;
}

.signIn form .grupo input {
	padding: 5px;
	margin-left: 15px;
	font-family: "Poppins", sans-serif;
}

.signIn input::placeholder {
	color: transparent;
}

.signIn .grupo label {
	color: white;
	text-shadow: 2px 2px 4px #000;
	margin-left: 10px;
	font-size: var(--navFontSize);
}

.signIn .btn {
	margin-left: 5px;
}

.signIn .btn button {
	background-color: rgb(73, 7, 216);
	color: white;
	padding: 10px 16px;
	margin: 0 15px;
	font-family: var(--btnFontFamily);
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid yellowgreen;
}

.signIn p {
	color: white;
	text-shadow: 2px 2px 4px #000;
	font-size: var(--navFontSize);
}

.signInMobile {
	display: none;
}

/* register */

section.register {
	height: 80vh;
}

.register .localContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 1580px;
	height: 80vh;
}

.localContainer .text {
	width: 700px;
}

.localContainer .text h1 {
	width: 405px;
	font-size: 44px;
	margin-bottom: 20px;
	color: white;
	text-shadow: 2px 2px 4px #000;
	transition: .3s;
}

.localContainer .text h1:hover {
	color: black;
	text-shadow: 2px 2px 4px #333;
}

.text h1 i.far {
	padding-right: 10px;
}

.localContainer .text p {
	padding-left: 20px;
	font-size: 20px;
}

.localContainer form .form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 530px;
	padding: 40px;
	background-color: rgb(240, 240, 240);
	border-radius: 8px;
	box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.6);
}

.form h1 {
	color: black;
	font-size: 28px;
	text-align: center;
	box-shadow: inset 0px 30px 3px -12px yellowgreen;
	text-shadow: 2px 2px 4px #333;
}

.form .grupo {
	position: relative;
	padding: 16px 0;
	margin: 0 auto;
}

form .form .grupo input {
	width: 210px;
	background-color: transparent;
	padding: 2px;
	border: none;
	border-bottom: 2px solid #333;
	font-family: "Poppins", sans-serif;
}

form .form .grupo input:focus {
	outline: none;
}

form .form .grupo input:focus + form .form .grupo label:focus {
	display: flex;
	flex-direction: column;
}

form .form .grupo label {
	position: absolute;
	top: 20px;
	left: 20px;
	color: rgb(73, 7, 216);
}

form .form button {
	margin: 10px auto;
	padding: 10px 0;
	background-color: #333;
	color: white;
	width: 200px;
	border-radius: 5px ;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.6);
	transition: .3s;
}

form .form button:hover {
	background-color: black;
}

button {
	cursor: pointer;
	font-family: var(--btnFontFamily);
}

/* footer */

footer {
	display: flex;
	flex-direction: row;
	background-color: black;
	height: 60px;
	line-height: 60px;
	width: 1920px;
	position: absolute;
	bottom: 10px;
}

footer p {
	margin: 0 auto;
}

span.line {
	display: block;
	height: 10px;
	width: 1920px;
	position: absolute;
	bottom: 0;
	background-color: yellowgreen;
}
